@background-color: #f0f0f0;
@placeholder-color: #cfcfcf;
@overlay-color: rgba(255, 255, 255, 0.85);
@image-spacing: 10px;

@columns: 5;
@rows: 3;

.fullscreen {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: @overlay-color;

  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.hidden {
  opacity: 0;
}

body {
  box-sizing:border-box;
  margin: 0;
  padding: 0.5 * @image-spacing;

  background-color: @background-color;
}

.image-grid {
  // avoid whitespace between rows,
  // see http://davidwalsh.name/remove-whitespace-inline-block
  font-size: 0;
}

.cell-image {
  display: inline-block;
  
  width: 100% / @columns;
  height: 100% / @rows;

  box-sizing:border-box;
  border: 0.5 * @image-spacing solid @background-color;

  background-position: center center;
  background-size: cover;
  background-color: @placeholder-color;
}

.zoom-image {
  max-width: 90%;
  max-height: 90%;

  // center horizontally and vertically
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
